.left {
  display: flex;
  justify-content: space-around;
}
.right {
  height: 30vh;
  width: 20vw;
}
.left {
  height: 10vh;
  width: 20vw;
}
img {
  height: auto;
  max-width: 100%;
}
.container {
  display: flex;
  width: 70vw;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.photo {
  margin: 1.5%;
}
#photo2,
#photo5 {
  margin-top: 120px;
}

.desig1 {
  position: relative;
  transform: rotate(90deg);
  left: 55%;
  top: -43%;
}
.desig2 {
  position: relative;
  transform: rotate(90deg);
  left: 55%;
  top: -58%;
}

@media (min-width: 481px) and (max-width: 768px) {
  .right,
  .left {
    font-size: 15px;
  }
  .container {
    width: 80vw;
  }
  h3 {
    font-size: 15px;
  }
  .photo {
    width: 25vw;
  }
}
@media (max-width: 480px) {
  .right,
  .left {
    font-size: 15px;
  }
  .main {
    flex-direction: column;
    margin-bottom: 50px;
  }
  h3 {
    font-size: 15px;
  }
  .container {
    width: 90vw;
  }
  .left {
    width: 100vw;
  }
  .right {
    width: 100vw;
    height: 15vh;
  }
  .photo {
    width: 30vw;
  }

  #photo2,
  #photo4,
  #photo6 {
    margin-top: 50px;
  }
  .desig1,
  .desig2 {
    font-size: 10px;
  }
}
